.Biography {
  width: 85vw;
  margin: 0 auto;

  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  /* or 13px */

  text-align: left;
  letter-spacing: -0.07em;
  text-transform: lowercase;

  color: #ffffff;
}
